*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.museumview{
    height: 80vh;
    width: 100%;
    border:none
}


.th{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.post_menu{
    padding: 5%;
    text-align: center;
}

.card{
    margin: 2%;
    display: inline-block;
    width: 45%;
    background: white;
    overflow: hidden;
    height: 200px;
    padding: 2% 5%;
    position: relative;
    transition: .5s;
    text-decoration: none;
    box-shadow: -1px 8px 25px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 8px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 8px 25px 0px rgba(0,0,0,0.75);
}

.overlay{
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    top:0%;
    left: 0%;
    transition: .5s;
}

.title{
    font-size: 30px;
    padding-top: 100px;
    position: relative;
    color: white;
    transition: .5s;

}
.card .des{
    position: relative;
    display: block;
    height: 0;
    color: white;
    opacity: 0;
    transition: .5s;
    font-size: 20px;

}

.card:hover .des{

    opacity: 1;
}

.card:hover .title{
    padding: 10px 0;
    font-size: 30px;
}

.card:hover .overlay{
    opacity: 0.9;
}

.paragraph{
    color: white;
    text-indent: 50px;

}

.history{
    padding: 0% 10% 5% 10%;
    
}

.history img{
    -webkit-box-shadow: -1px 1px 24px 5px rgba(0,0,0,0.59); 
    box-shadow: -1px 1px 24px 5px rgba(0,0,0,0.59);
}

.post_model{
    padding: 5% 5%;
    text-align: center;
}

.post_model .card{
    cursor: pointer;
    width: 370px;
    height: 370px;
    padding: 3%;
}

.post_model .card .title{
padding: 0%;

}

.post_model .card .overlay{
    opacity: 0.3;
}

.post_model .card:hover .overlay{
    opacity: 0.9;
}

.content_post{
    position: fixed;
    top: -5%;
}

.content_post .insidebox{
    padding: 5%;
}

.content_post .insidebox .content-box{
    padding-right: 5%;
}

.content_post .insidebox .titlee{
    font-size: 50px;
    line-height: 40px;
    margin-bottom: 30px;
}
.content_post .insidebox .des{
    font-size: 20px;
    text-indent: 50px;

}
.content_post div .row{
    display: flex;
}

.content_post .AR{
    margin-top: 5%;
}

.content_post img{
    -webkit-box-shadow: -1px 1px 24px 5px rgba(0,0,0,0.59); 
    box-shadow: -1px 1px 24px 5px rgba(0,0,0,0.59);
}

.gallery{
    margin: 0% auto;
    width: 80%;
}


.vdo{
    overflow-x: hidden;
    margin: 0% auto;
    width: 80%;
    -webkit-box-shadow: -1px 1px 24px 5px rgba(0,0,0,0.59); 
    box-shadow: -1px 1px 24px 5px rgba(0,0,0,0.59);
}

.vdo iframe{
    width: 100%;
    height: 500px;

}
.gallery .image{
    position: relative;
    display: inline-block;
    width: 33.00%;
    height: 400px;
    overflow: hidden;
    -webkit-box-shadow: -1px 1px 24px 5px rgba(0,0,0,0.59); 
    box-shadow: -1px 1px 24px 5px rgba(0,0,0,0.59);
}



.gallery .image:nth-child(5) img{
    position: absolute;
    top: 0%;
    width: 100%;
}

.data h1{
    margin: 50px 0;
}

.data{
    padding: 8% 0;
}